# Pastas de Compilação e Ambiente
target/
venv/
__pycache__/
.vscode/
.idea/

# Pastas de Backup e ficheiros gigantes (pela tua lista)
"Wifi Thesis Files/"
"Wifi-Failed Versions/"
"Extra Files from different attemps/"
"Testes/"
Temp/

# Ficheiros de dados brutos e resultados pesados
*.csv
*.npy
*.pth
*.gz
*.pcap

# Manter apenas o necessário (opcional - se quiseres guardar as features processadas)
# !dataset_features_final.csv